@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 27, 30;
  --background-end-rgb: 26, 27, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

input:focus {
  outline: none;
  ring: 2px solid rgb(124, 58, 237);
}